Package: massdash
Version: 0.0.8
Architecture: all
Maintainer: Roest Lab 
Description: MassDash
  A web-based dashboard for streamlined DIA-MS visualization, analysis,
  prototyping, and optimization. https://github.com/Roestlab/massdash. 
XB-Desktop-File: massdash.desktop
